<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!-->
<html class="no-js" lang="en" ng-app="myapp">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Zameer Fouzan | Web Application Developer</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <!-- Js -->
    <script type="text/javascript" data-cfasync="true" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" data-cfasync="true" src="js/plugins/angular.js"></script>
    <script type="text/javascript" data-cfasync="true" src="js/plugins/nprogress.js"></script>
    <script type="text/javascript" data-cfasync="true" src="js/custom/loader.js"></script>
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.png">
    <!-- google analytics-->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-85396690-1', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- google analytics-->
</head>

<body id="BodyContainer" ng-controller="MainController">
    <!-- Header -->
    <header id="home">
        <nav id="nav-wrap">
            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
            <ul id="nav" class="nav">
                <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
                <li><a class="smoothscroll" href="#about">About</a></li>
                <li><a class="smoothscroll" href="#resume">Resume</a></li>
                <li><a class="smoothscroll" href="#skills">Skills</a></li>
                <li><a class="smoothscroll" href="#projects">Works</a></li>
                <!-- <li><a class="smoothscroll" href="#testimonials">Testimonials</a></li> -->
                <li><a class="smoothscroll" href="#contact">Contact</a></li>
            </ul>
            <!-- end #nav -->
        </nav>
        <!-- end #nav-wrap -->
        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">I'm Zameer Fouzan.</h1>
                <h3>I'm Associate Analyst in <span><a href="http://www.maknowledgeservices.com/" target="_blank"> Moody's Analytics</a></span> and was an intern in <span><a href="http://hiveminds.in/" target="_blank">Hiveminds Innovative Market Solutions.</a></span> I am a <span> Master of Computer Applications </span>from <span><a href="http://vtu.ac.in/" target="_blank"> Visvesvaraya Technological University [VTU].</a></span> <br/>Let's <a class="smoothscroll" href="#about">start scrolling</a>
            and learn more <a class="smoothscroll" href="#about">about me</a>.</h3>
                <p class="mytags"><span> <i class="fa fa-tag"></i> Software Developer</span>
                    <span> <i class="fa fa-tag"></i> Web Developer</span>
                </p>
                <hr />
                <ul class="social">
                    <li><a href="https://www.facebook.com/zameer.fouzan" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/zmrfzn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://google.com/+zameerfouzan" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://in.linkedin.com/in/zmrfzn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://angel.co/zameer-fouzan" target="_blank"><i class="fa fa-angellist"></i></a></li>
                    <li><a href="https://github.com/zmrfzn" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
        <p class="scrolldown">
            <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>
    </header>
    <!-- Header End -->
    <!-- About Section-->
    <section id="about">
        <div class="row">
            <div class="three columns">
                <img class="profile-pic" src="files/self.jpg" alt="profile Pic" />
            </div>
            <div class="nine columns main-col">
                <h2>About Me</h2>
                <p>I'm Associate Analyst in <a href="http://www.maknowledgeservices.com/" target="_blank"> Moody's Analytics</a>, i work on <code class="code">AngularJs</code> and <code class="code">C#</code> technologies. I have interned in <a href="http://hiveminds.in/">Hiveminds Innovative Market Solutions</a> where i have worked on a project named <a href="http://www.priceminds.com/" target="_blank">Priceminds</a> a price comparison web application, in which we used <code class="code">Python</code> and <code class="code">PHP</code> for backend, <code class="code">MySQL</code> as the Database and
                    <a href="https://www.opencart.com/" target="_blank"> <code class="code">Opencart</code> </a> as frontend framework to build the web application.</p>
                <p> I am a Master of Computer Applications [MCA] from <a href="http://vtu.ac.in/" target="_blank"> Visvesvaraya Technological University [VTU]</a>, i completed my MCA in <a href="http://www.amcgroup.edu.in/AMCEC/index.php" target="_blank">AMC Engineering College</a>. I keep interest in learning modern frameworks and technologies, some in my To-Do list includes <code class="code-todo">NodeJs</code>, <code class="code-todo">AWS</code> and <code class="code-todo">Microsoft Azure </code>.
                    <br/> Have a look at some of my <a class="smoothscroll" href="#skills">skills</a>.
                </p>
                <div class="row">
                    <div class="columns contact-details">
                        <h2>Contact Details</h2>
                        <p class="address">
                            <span>Zameer Fouzan</span>
                            <br>
                            <span>Bangalore, Karnataka, India </span>
                            <br>
                            <span><a class="smoothscroll" href="#contact"><i class="fa fa-envelope"></i> Contact Me</a> </span>
                        </p>
                    </div>
                    <div class="columns download">
                        <p>
                            <a href="files/ZameerFouzan.pdf" class="button" target="_blank"><i class="fa fa-download"></i>Download Resume</a>
                        </p>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end .main-col -->
        </div>
    </section>
    <!-- About Section End-->
    <!-- Resume Section -->
    <section id="resume">
        <!-- Education -->
        <div class="row education">
            <div class="three columns header-col">
                <h1><span>Education</span></h1>
            </div>
            <div class="nine columns main-col">
                <div class="row item">
                    <div class="twelve columns">
                        <h3>Master of Computer Application</h3>
                        <img class="univ-logo img-responsive img-rounded" src="files/vtu_logo.png" alt="Bangalore University Logo">
                        <p class="info">Visvesvaraya Technological University
                            <span>&bull;</span> <em class="date">August 2016</em></p>
                    </div>
                </div>
                <hr/>
                <!-- item end -->
                <div class="row item">
                    <div class="twelve columns">
                        <h3>Bachelor of Computer Application</h3>
                        <img class="univ-logo img-responsive img-rounded" src="files/Bu-logo.jpg" alt="Bangalore University Logo">
                        <p class="info">Bangalore University
                            <span>&bull;</span> <em class="date">November 2013</em></p>
                    </div>
                </div>
            </div>
            <!-- main-col end -->
        </div>
        <!-- End Education -->
        <!-- Work -->
        <div class="row work">
            <div class="three columns header-col">
                <h1><span>Work</span></h1>
            </div>
            <div class="nine columns main-col">
                <div class="row item">
                    <div class="twelve columns">
                        <h3>Moody's Analytics</h3>
                        <p class="info">Associate Analyst<span>&bull;</span> <em class="date">November 2016 - Present</em></p>
                        <p>
                            I am currently working with technology team on product development. I am working with <code class="code"> AngularJs</code>, <code class="code">C#</code> and <code class="code">excel VBA</code> technologies. I am mainly contributing towards the web application.
                        </p>
                    </div>
                </div>
                <!-- item end -->
                <div class="row item">
                    <div class="twelve columns">
                        <h3>HiveMinds Innovative Market Solutions <small>Pvt Ltd</small></h3>
                        <p class="info">Tech Intern <span>&bull;</span> <em class="date">January 2016 - June 2016</em></p>
                        <p>
                            I have worked closely with product development team, on full stack development of the end product. We used multiple opensource technologies like <code class="code">Python</code> and <code class="code">PHP</code> for backend, <code class="code">MySQL</code> as the Database and PHP framework
                            <a href="https://www.opencart.com/" target="_blank"> <code class="code">Opencart</code> </a> as frontend to build the web application.
                        </p>
                    </div>
                </div>
                <!-- item end -->
            </div>
            <!-- main-col end -->
        </div>
        <!-- End Work -->
        <!-- Skills -->
        <div class="row skill" id="skills">
            <div class="three columns header-col">
                <h1><span>Skills</span></h1>
            </div>
            <div class="nine columns main-col">
                <p>My skillset includes the following.
                </p>
                <div class="bars">
                    <ul class="skills">
                        <li><span class="bar-expand python"></span><em>Python 2.7</em></li>
                        <li><span class="bar-expand php"></span><em>PHP</em></li>
                        <li><span class="bar-expand webdesign"></span><em>Webdesign <small>HTML5/CSS3/Bootstrap3</small></em></li>
                        <li><span class="bar-expand jsjq"></span><em>JavaScript / JQuery</em></li>
                        <li><span class="bar-expand Angular"></span><em>AngularJs <small>1.5</small></em></li>
                        <li><span class="bar-expand asp"></span><em>ASP.NET C#</em></li>
                    </ul>
                </div>
                <!-- end skill-bars -->
            </div>
            <!-- main-col end -->
        </div>
        <!-- End skills -->
    </section>
    <!-- Resume Section End-->
    <!-- projects Section
   ================================================== -->
    <section id="projects">
        <div class="row">
            <div class="twelve columns collapsed">
                <h1>Check Out Some of My Works.</h1>
                <!-- portfolio-wrapper -->
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-01" title="">
                                <img alt="" src="files/priceminds4.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Priceminds</h5>
                                        <p>Click. Compare. Buy</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-02" title="">
                                <img alt="" src="files/cpanel.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>cPanel Backup Script</h5>
                                        <p>Shell Script</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-03" title="">
                                <img alt="" src="files/infinity11.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Infinity Health Solutions</h5>
                                        <p>Webdesign</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-04" title="">
                                <img alt="" src="files/comingsoon.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Find Gender with Name</h5>
                                        <p>Coming Soon</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item" ng-if="false">
                        <div class="item-wrap">
                            <a href="#modal-05" title="">
                                <img alt="" src="images/portfolio/farmerboy.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Farmer Boy</h5>
                                        <p>Branding</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item" ng-if="false">
                        <div class="item-wrap">
                            <a href="#modal-06" title="">
                                <img alt="" src="images/portfolio/girl.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Girl</h5>
                                        <p>Photography</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item" ng-if="false">
                        <div class="item-wrap">
                            <a href="#modal-07" title="">
                                <img alt="" src="images/portfolio/origami.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Origami</h5>
                                        <p>Illustrration</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item" ng-if="false">
                        <div class="item-wrap">
                            <a href="#modal-08" title="">
                                <img alt="" src="images/portfolio/retrocam.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Retrocam</h5>
                                        <p>Web Development</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                </div>
                <!-- portfolio-wrapper end -->
            </div>
            <!-- twelve columns end -->
            <!-- Modal Popup -->
            <div id="modal-01" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="files/priceminds3.png" alt="priceminds.com" />
                <div class="description-box">
                    <h4>PriceMinds</h4>
                    <p>PriceMinds is your user friendly product comparison website with a focus on bringing you the most up to date prices on the latest Electronics, Fashion, Home and Kitchen, Travel and Leisure and FMCG products. We don’t bombard you with advertisements and Offers because we believe in a hassle-free, smooth comparison experience. Partnering with the best online retailers and trusted brands, PriceMinds guarantees you the best price comparison experience so you can make well informed shopping decisions.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Shopping, Price Compare</span>
                </div>
                <div class="link-box">
                    <a href="http://www.priceminds.com" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-01 End -->
            <div id="modal-02" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="files/cpanel-git.jpg" alt="" />
                <div class="description-box">
                    <h4>cPanel Backup Script</h4>
                    <p>Simple shell script to backup your cpanel Public_html directory including your mysql database in cPanel using cron.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Server Backups, Website Backup, Script </span>
                </div>
                <div class="link-box">
                    <a href="https://github.com/zmrfzn/Cpanel-Backup" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-02 End -->
            <div id="modal-03" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="files/infinity-snap.jpeg" alt="" />
                <div class="description-box">
                    <h4>Infinity Health Solutions <small>Pvt Ltd</small></h4>
                    <p>A simple website for health services provider infinity health solutions , gives all the details about the organization and its wide range of services and facilities it provides.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Website, Laboratory portfolio</span>
                </div>
                <div class="link-box">
                    <a href="http://infinity11.in/" target="_blank">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-03 End -->
            <div id="modal-04" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="files/gender.jpg" alt="" />
                <div class="description-box">
                    <h4>Find Gender with Name</h4>
                    <p>Coming Soon</p>
                    <span class="categories"><i class="fa fa-tag"></i>Python , Intelligence</span>
                </div>
                <div class="link-box">
                    <a href="#">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-04 End -->
            <div id="modal-05" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="images/portfolio/modals/m-farmerboy.jpg" alt="" />
                <div class="description-box">
                    <h4>Farmer Boy</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
                </div>
                <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-05 End -->
            <div id="modal-06" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="images/portfolio/modals/m-girl.jpg" alt="" />
                <div class="description-box">
                    <h4>Girl</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Photography</span>
                </div>
                <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-06 End -->
            <div id="modal-07" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="images/portfolio/modals/m-origami.jpg" alt="" />
                <div class="description-box">
                    <h4>Origami</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
                </div>
                <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-07 End -->
            <div id="modal-08" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="images/portfolio/modals/m-retrocam.jpg" alt="" />
                <div class="description-box">
                    <h4>Retrocam</h4>
                    <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
                </div>
                <div class="link-box">
                    <a href="http://www.behance.net">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-01 End -->
        </div>
        <!-- row End -->
    </section>
    <!-- Portfolio Section End-->
    <!-- Contact Section
   ================================================== -->
    <section id="contact">
        <div class="row section-head">
            <div class="two columns header-col">
                <h1><span>Get In Touch.</span></h1>
            </div>
            <div class="ten columns">
                <p class="lead">Contact me for any assistance needed for you in your project or if you want to hire me to build your own personal or business website. Drop a Mail i would revert back ASAP.</p>
                <p>
                    If you have any feedback or suggestion on my projects, would be glad to hear from you.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <!-- form -->
                <form action="" method="post" id="contactForm" name="contactForm">
                    <fieldset>
                        <div>
                            <label for="contactName">Name <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactName" name="contactName">
                        </div>
                        <div>
                            <label for="contactEmail">Email <span class="required">*</span></label>
                            <input type="text" value="" size="35" id="contactEmail" name="contactEmail">
                        </div>
                        <div>
                            <label for="contactSubject">Subject</label>
                            <input type="text" value="" size="35" id="contactSubject" name="contactSubject">
                        </div>
                        <div>
                            <label for="contactMessage">Message <span class="required">*</span></label>
                            <textarea cols="50" rows="10" id="contactMessage" name="contactMessage"></textarea>
                        </div>
                        <div>
                            <button class="submit">Submit</button>
                            <span id="image-loader">
                        <img alt="" src="images/loader.gif">
                     </span>
                        </div>
                    </fieldset>
                </form>
                <!-- Form End -->
                <!-- contact-warning -->
                <div id="message-warning"> Error boy</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!
                    <br>
                </div>
            </div>
            <aside class="four columns footer-widgets">
                <div class="widget widget_contact">
                    <h4>Address and Phone</h4>
                    <p class="address">
                        Zameer Fouzan
                        <br>Bangalore, Karnataka, India
                        <br>
                        <span><i class="fa fa-phone"></i> Drop a mail to get in touch</span>
                    </p>
                </div>
                <!-- twitter/news/updates placeholder 
                <div class="widget widget_tweets">
                    <h4 class="widget-title">Latest Tweets</h4>
                    <ul id="twitter">
                        <li>
                            <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. 
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                            <b><a href="#">2 Days Ago</a></b>
                        </li>
                        <li>
                            <span>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. 
                        <a href="#">http://t.co/CGIrdxIlI3</a>
                        </span>
                            <b><a href="#">3 Days Ago</a></b>
                        </li>
                    </ul>
                </div> -->
            </aside>
        </div>
    </section>
    <!-- Contact Section End-->
    <!-- footer
   ================================================== -->
    <footer>
        <div class="row">
            <div class="twelve columns">
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/zameer.fouzan" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/zmrfzn" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://google.com/+zameerfouzan" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://in.linkedin.com/in/zmrfzn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://angel.co/zameer-fouzan" target="_blank"><i class="fa fa-angellist"></i></a></li>
                    <li><a href="https://github.com/zmrfzn" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Copyright <a href="http://zameerfouzan.me" title="">Zameer Fouzan</a></li>
                    <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
                </ul>
            </div>
            <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>
        </div>
    </footer>
    <!--  Footer End  Js -->
    <script src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/waypoints.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/init.js"></script>
    <!--angular-->
    <script type="text/javascript" src="js/plugins/angular-animate.js"></script>
    <script type="text/javascript" src="js/plugins/angular-loader.min.js"></script>
    <script type="text/javascript" src="js/plugins/angular-route.js"></script>
    <script type="text/javascript" src="js/plugins/angular-touch.js"></script>
    <!-- angular App -->
    <script type="text/javascript" src="js/app/app.js"></script>
    <script type="text/javascript" src="js/app/controller/MainController.js"></script>
</body>

</html>
